.App {
  text-align: center;
  font-family: "맑은 고딕";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.quote-card-view ul {
  list-style: none; /* 리스트 점 제거 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
  text-align: center; /* 중앙 정렬 */
}

.quote-card-view li {
  margin-top: 20px; /* 이미지와 텍스트 간 간격 */
}

.quote-card-view img {
  display: block;
  margin: 0 auto; /* 이미지 중앙 정렬 */
  max-width: 60%; /* 이미지가 너무 크지 않도록 */
  height: auto;
}